@import "Variables";
*{
    padding: 0%;
    margin: 0%;
}
header{
    background-color: $dbs;
    width: $sw;
    h1{
        color: $wt;
        font-size: 5rem;
        padding-left: 3rem;
    }
}
main{
    background: $bkgc;
    width: $sw;
    height: auto;
    padding-bottom: 4rem;
    
    form{
        @include center;

    };
    
}
footer{
    width: $sw;
    height: 15rem;
    h3{
        color: $wt;
        font-size: 2.5rem;
    }
}
